.app{
    display: grid; /*Отобразить сетку для всего приложения*/
    place-items: center; /*Все элементы по центру и сверху и снизу*/
    background-color: #dadbd3; /*Цвет фона*/
    height: 100vh;/*Высота*/
}

.app__body {
    display: flex; /*Все внутри будет гибким*/
    height: 90vh; /*Высота 90 от всей высоты экрана*/
    width: 90vw; /*Ширина 90 от всей ширины экрана*/
    /*margin: 0 auto; !*Автоматический отступ сбоку. Выравниваем по центру.*!*/
    margin-top: 50px; /*Отступ сверху*/
    background-color: #ededed; /*Фоновый цвет*/
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.7);/*Тень*/
}
